 .loading-modal {
                display:    none;
                position:   fixed;
                z-index:    5000;
                top:        0;
                left:       0;
                height:     100%;
                width:      100%;
                background: rgba( 255, 255, 255, .8 ) 
                            url('loading.gif') 
                            50% 50% 
                            no-repeat;
            }
            body.loading .loading-modal {
                overflow: hidden;   
            }

            body.loading .loading-modal {
                display: block;
            }

.loading2-modal {
               display:    none;
               position:   fixed;
               z-index:    5000;
               top:        0;
               left:       0;
               height:     100%;
               width:      100%;
               background: rgba( 255, 255, 255, .8 ) 
                           url('../images/loading.gif') 
                           50% 50% 
                           no-repeat;
           }
           body.loading2 .loading2-modal {
               overflow: hidden;   
           }

           body.loading2 .loading2-modal {
               display: block;
           }